<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Kia Ora, I'm Josh Jamieson. I've been a lifelong hobbyist game developer and I’ve found an interest in the Unreal Engine. I’m always looking to grow my skill set and knowledge of UE. I enjoy learning and trying new things, often to the detriment of finishing projects. </p>
      </div>
      <div class="col-lg-4">
        <p>I’m a qualified lawyer, but with games being my passion I’m always open to working in the industry. I love talking about my projects so feel free to reach out! </p>
      </div>
    </div>
  </div>
</section>
